<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include("includes") %>
        <title>Questions</title>
        <link rel="stylesheet" href="/CSS/questions.css">
        <script src="/JS/questions.js" defer></script>
</head>

<body>
    <div class="container h-100">
        <div class="row justify-content-center h-100">
            <dic class="col-12 h-80 bg-light">
                <form class="interaction-form m-5">
                    <div class="feeling d-flex flex-column align-items-center">
                        <label class="display-1">How are you Feelnig</label>
                        <div class="btns mt-2">
                            <button type="button" class="btn btn-success happy m-3 btn-lg">Happy</button>
                            <button type="button" class="btn btn-danger sad m-3 btn-lg">Sad</button>
                        </div>
                    </div>
                </form>
            </dic>
            <div class="fluid d-flex justify-content-end align-items-start">
                <button class="btn btn-danger m-5 btn-lg">
                    Urgent Help!!!
                </button>
            </div>
        </div>
    </div>
</body>

</html>